@import 'tailwindcss';

@theme {
    --color-darkbrown-1: #2D2424;
    --color-darkbrown-2: #5C3D2E;
    --color-darkbrown-3: #B85C38;
    --color-darkbrown-4: #E0C097;
}

html, body {
    overscroll-behavior: none !important;
}